<header class="header">
    <div class="container">
        <a class="logo-wrapper" routerLink="/">
            <img src="assets/images/logo.png" class="logo" alt="" />
            <p class="logo-text">PIZZA CHEFF</p>
        </a>

        <ul class="menu">
            <a class="menu-link" routerLink="/" routerLinkActive="active">Пицца</a>
            <a class="menu-link" routerLink="/drinks" routerLinkActive="active">Напитки</a>
            <a class="menu-link" routerLink="/delivery" routerLinkActive="active">Доставка и оплата</a>
            <a class="menu-link" routerLink="/contacts" routerLinkActive="active">Контакты</a>
        </ul>
    </div>
</header>

