@use 'mixins' as *;

.header {
    box-shadow: var(--primary-box-shadow);
    background-color: var(--white-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .logo {
        width: 68px;
        height: 68px;
    }

    .logo-text {
        width: 50px;
        color: var(--primary-color);
    }
}

.menu {
    display: flex;
    gap: 48px;

    @include tablet {
        display: none;
    }

    .menu-link {
        color: var(--brown-600);
        transition: color 0.3s;

        &:hover {
            color: var(--primary-color);
        }

        &.active {
            border-bottom: 1px solid var(--brown-600);
        }
    }
}

.mobile-menu {
    width: 24px;
    height: 16px;
    display: none;

    @include tablet {
        display: flex;
    }

    .open-menu {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        .line {
            height: 2px;
            background-color: var(--brown-600);
        }
    }
}

