<header class="header">
    <div class="container">
        <a class="logo-wrapper" routerLink="/">
            <img src="assets/images/logo.png" class="logo" alt="" />
            <p class="logo-text">PIZZA CHEFF</p>
        </a>

        <ul class="menu">
            @for (item of menuItems; track $index) {
                <a
                    class="menu-link"
                    routerLinkActive="active"
                    [routerLink]="item.routerLink"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >{{ item.label }}</a
                >
            }
        </ul>

        <div class="mobile-menu">
            <div class="open-menu" (click)="menu.toggle($event)">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <p-menu #menu [model]="menuItems" [popup]="true" />
        </div>
    </div>
</header>
