@use 'mixins' as *;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-top: 130px;
    padding-bottom: 160px;

    @include tablet {
        flex-direction: column;
        padding: 60px 0;
    }
}

.description-wrapper {
    width: 60%;

    @include laptop {
        width: 70%;
    }

    @include tablet {
        width: 100%;
    }
}

.image-wrapper {
    flex-shrink: 4;
}

.header {
    color: var(--brown-400);
    margin-bottom: 60px;
    width: 65%;
    font-size: 42px;

    .header-text {
        color: var(--primary-color);
    }

    @include laptop {
        width: 100%;
    }

    @include tablet {
        text-align: center;
        font-size: 28px;
        margin-bottom: 30px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 46px;

    @include tablet {
        justify-content: center;
        margin-bottom: 30px;
    }

    .list-item {
        display: flex;
        align-items: center;
        gap: 4px;
        flex: 1 1 35%;

        @include tablet {
            flex: 1 1 auto;
            justify-content: center;
        }
    }

    .list-image {
        width: 60px;
        height: 60px;
    }

    .list-text-wrapper {
        width: 60%;
    }

    .list-header {
        color: var(--primary-color);
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .list-text {
        color: var(--brown-500);
    }
}

.primary-button {
    @include tablet {
        display: flex;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}

