<div class="container">
    <div class="description-wrapper">
        <h1 class="header">
            Самая вкусная пицца в мире
            <span class="header-text">только в Pizza Cheff</span>
        </h1>

        <ul class="list">
            <li class="list-item">
                <img src="assets/icons/hop.png" alt="" class="list-image" />

                <div class="list-text-wrapper">
                    <p class="list-header">лучшее тесто</p>
                    <p class="list-text">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
                </div>
            </li>

            <li class="list-item">
                <img src="assets/icons/kitchen-pack.png" alt="" class="list-image" />

                <div class="list-text-wrapper">
                    <p class="list-header">лучшие повара</p>
                    <p class="list-text">Пиццы готовят самые профессиональные итальянские повара</p>
                </div>
            </li>

            <li class="list-item">
                <img src="assets/icons/seo-and-web.png" alt="" class="list-image" />

                <div class="list-text-wrapper">
                    <p class="list-header">гарантия качества</p>
                    <p class="list-text">Наша пиццерия получила множество наград и признаний по всему миру</p>
                </div>
            </li>

            <li class="list-item">
                <img src="assets/icons/holidays.png" alt="" class="list-image" />

                <div class="list-text-wrapper">
                    <p class="list-header">отборные рецепты</p>
                    <p class="list-text">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
                </div>
            </li>
        </ul>

        <button class="primary-button">Выбрать пиццу</button>
    </div>

    <div class="image-wrapper">
        <img src="assets/images/pizza_big.png" alt="" class="image" />
    </div>
</div>

