<div class="container">
    <div class="text-wrapper">
        <h2 class="header">
            Хватит думать!
            <span class="header-text"> Доставим заказ за 30 минут!</span>
        </h2>

        <p class="text">
            Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1
            минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом
            и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
        </p>
    </div>

    @if (form) {
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="input-wrapper">
                <input
                    class="input"
                    placeholder="Ваше имя"
                    type="text"
                    formControlName="name"
                    (keydown)="blockDot($event)"
                />

                @if (nameControl.touched && nameControl.invalid) {
                    @if (nameControl.hasError('required')) {
                        <ng-container [ngTemplateOutlet]="error"></ng-container>
                    }
                }
            </div>
            <div class="input-wrapper">
                <input
                    class="input"
                    placeholder="Адрес доставки"
                    type="text"
                    formControlName="address"
                    (keydown)="blockDot($event)"
                />

                @if (addressControl.touched && addressControl.invalid) {
                    @if (addressControl.hasError('required')) {
                        <ng-container [ngTemplateOutlet]="error"></ng-container>
                    }
                }
            </div>

            <div class="input-wrapper">
                <input
                    class="input"
                    placeholder="Телефон"
                    type="tel"
                    formControlName="phone"
                    (keydown)="blockDot($event)"
                />

                @if (phoneControl.touched && phoneControl.invalid) {
                    @if (phoneControl.hasError('required')) {
                        <ng-container [ngTemplateOutlet]="error"></ng-container>
                    }

                    @if (!phoneControl.hasError('required') && phoneControl.hasError('pattern')) {
                        <p class="error">Поле может содержать только цифры</p>
                    }
                }
            </div>

            <button class="primary-button" type="submit">Оформить заказ</button>
        </form>
    }
</div>

<ng-template #error>
    <p class="error">Обязательное поле*</p>
</ng-template>

