:root {
    --white-color: #fff;

    --text-color: #171919;

    --primary-color: #ffaf18;

    --brown-600: #a46a00;
    --brown-500: #b8914f;
    --brown-400: #b9904f;
    --brown-300: #cba76d;

    --primary-box-shadow: 0px 3px 15px 0px #989898;

    --error-color: #e81a1a;
}
